# Development
.vscode/
.venv/
.env
test*
.test*
_test*

# Indev Testing
beet.*
.beet_cache/

# pytest
!tests/
.pytest_cache/
test_pack/

# Zensical
.cache/
site/

# Distribution & Packaging
build/
**.egg-info
**/__pycache__/
rhombus/preview/dist/