# Development
.vscode/
.venv/
.env

test*
.test*
_test*

.beet_cache/
beet.*

# Test Suite
.pytest_cache/
!tests/
!tests/**/test_**

# Zensical
.cache/
site/
docs/reference

# Build & Packaging
build/
**/__pycache__/
**.egg-info

rhombus/preview/dist/

node_modules/
*.tsbuildinfo

.ruff_cache/