# Development
.vscode/
.venv/
.env

# Indev Testing
beet.*
.beet_cache/
test*
.test*
_test*

# pytest
!tests/
.pytest_cache/
test_pack/

# Zensical
.cache/
site/
docs/reference

# Distribution & Packaging
build/
node_modules/
**.egg-info
**/__pycache__/
rhombus/preview/dist/

# Typescript Build
*.tsbuildinfo