:root {
  color-scheme: dark;
  font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #e8ebf0;
  
  // Zentrale Farb-Werte
  --background: #181818;
  --background2: #1f1f1f;
  --border: #2b2b2b;
  --muted: #99a3b8;
  --accent: #5035d2;
  --accent2: #62a7f0;
  --danger: #fa6c6c;
}
