:root  > * {
    --md-primary-fg-color: #734DFF;
    --md-accent-fg-color: #8366ea;
    --md-typeset-color: hsla(223, 14%, 90%, 0.954);
    --md-code-bg-color: hsl(225, 19%, 12%);
}

code {
    color: hsla(51, 62%, 83%, 0.954);
}

html {
    scrollbar-gutter: stable; /* Patch for scrollbars shifting the layout */
}

.md-typeset {
    font-size: .70rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--md-accent-fg-color);
    border-radius: 6px;

    border: 3px solid transparent;
    background-clip: content-box;
}

.md-typeset ul li {
    margin-bottom: .15em
}

.md-grid {
    max-width: 1400px;
}

.grid.cards > ul > li:hover {
    border: .05rem solid var(--md-default-fg-color--lightest) !important;
    box-shadow: none;
}